fastapi[standard]
databases[sqlite]
requests

pytest
black
numpy

pandas
python-multipart

pymupdf
python-docx
reportlab
redis

mcp
fastmcp
psycopg2-binary
asyncpg
aiopg
aiofiles
pyyaml

networkx
rdflib
owlrl
